.App {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Rubik Mono One', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Russo One', sans-serif;
}

.App-link {
  color: #61dafb;
}

.preview {
  margin: auto;
  border: 2px solid rgb(22, 21, 21);
  height: 500px;
  width: 500px;
  font-family: 'Russo One', sans-serif;
}

.rentLabel {
  margin-top: 400px;
}

.text {
  color: #555f61;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  background-color: white;
  padding: 0 15px;
  margin: 5px 0 20px 0;
}
  
.tabs {
  padding: 0;
  margin-bottom: 40px;
}

label {
  padding-left: 15px;
  color: #555f61;
  font-size: 14px;
  font-weight: 600;
}

.hashLink {
  cursor: pointer;
}

.hashLink:hover {
  color: rgba(36, 36, 187, 0.479);
  text-underline-position: below;
}

.form {
  display: flex;
  /* align-items: center; */
  text-align: left;
  flex-direction: column;
  background: white;
  width: 500px;
  padding: 25px 25px 40px 25px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form h3 {
  text-align: center;
  margin: 0 0 30px 0;
}

input[type=file] {
  color: #555f61;
  border: none;
  cursor:pointer;
  display: inline-block;
  padding-left: 15px;
  margin: 12px 0 20px 0;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.insights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.head {
  font-size: 32px;
}

section {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  width: 45%;
  max-width: 360px;
  margin: 30px;
  flex-direction: column;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
input {
  outline: none;
  margin-bottom: 10px;
}
object {
  margin-left: 470px ;
}

.searchForm {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  background-color: #7C7287;
  width: auto;
  height: 45px;
  border: 2px solid black;
  padding: 4px;
  margin: 20px;
  border-radius: 4px;
}

button.refresh {
  color: white;
  border: 1px solid #8BC34A;
  border-radius: 5px;
  box-shadow: 0.6px 0.6px 1px 0px #888888;
  height: 30px; 
  font-size: 14px;
  letter-spacing: 1.2px;
  background: rgb(135, 212, 48);
  cursor: pointer;
  outline: none;
}

button.refresh:hover {
  box-shadow: 0.5px 0.5px 0.6px 0px #888888;
}

.coins {
  max-width: 1080px;
  margin: 25px auto;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #0091EA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px 5px 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.buy {
  width: 90px;
  margin: 10px 0 0;
}

div.hash-div {
  text-align: center;
}

.ui stackable grid {
  text-align: center;
  margin:auto;
}

div.content {
  padding: 0 1em;
  margin: 5px 0;
}   
.content .heading {
  font-size: 15px;
  width: 100%;
  padding: 15px 0 0 15px;
  margin:auto;

}   
.content div strong {
  font-size: 20px;
}
.content .sort {
  font-size: 15px;
  margin: 3rem 0 2rem 0;
  padding: 0 8px;
} 
select {
  width: 200px;
  height: 25px;
  background: #e8e8e8;
  font-weight: 500;
  padding: 0 10px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}                  
.content .column {
  padding: 0.5em !important;
  margin:auto;

}  
@media screen and (max-width: 700px) {
  div.three {
      display: none !important;
  }
  .sidebar {
      display: none;
      width: 0;
      height: 300px;
      position: relative;
  }
  div.content {
      padding: 0;
      margin-left: 0;
  }
}             

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
