.App {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Rubik Mono One', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Russo One', sans-serif;
}

.App-link {
  color: #61dafb;
}

.preview {
  margin: auto;
  border: 2px solid rgb(22, 21, 21);
  height: 500px;
  width: 500px;
  font-family: 'Russo One', sans-serif;
}

.rentLabel {
  margin-top: 400px;
}

.text {
  width: 80%;
  height: 20%;
  font-family: 'Bree Serif', serif;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-image: url('./utils/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  font-family: 'Russo One', sans-serif;
  padding: 12px 20px 12px 40px;
  margin: 30px;
}
  


label {
  color: rgb(14, 13, 13);
  margin: 0px;
}

.hashLink {
  cursor: pointer;
}

.hashLink:hover {
  color: rgba(36, 36, 187, 0.479);
  text-underline-position: below;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(91, 94, 99);
  width: 800px;
  border: 2px solid black;
  padding: 50px;
  margin: auto;
  border-radius: 4px;
}

input[type=file] {
    background-color: #606060;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    padding: 6px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}

.insights {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.head {
  font-size: 60px;
}

section {
  background-color: #7b8392;
  border-radius: 4px;
  padding: 20px;
  display:flex;
  margin: 85px;
  flex-direction: column;
  width:500px;
  height:200px;
  text-align:center;
}
input {
  margin-bottom: 10px;
}
object {
  margin-left: 470px ;
}

.searchForm {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  background-color: #7C7287;
  width: auto;
  height: 45px;
  border: 2px solid black;
  padding: 4px;
  margin: 20px;
  border-radius: 4px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #383838	;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

div.content {
  padding: 0 1em;
  margin: 5px 0;
}   
.content .heading {
  font-size: 15px;
  width: 100%;
  padding: 15px 0 0 15px;
  margin:auto;

}   
.content div strong {
  font-size: 20px;
}
.content .sort {
  font-size: 15px;
  margin: 3rem 0 2rem 0;
  padding: 0 8px;
} 
select {
  width: 200px;
  height: 25px;
  background: #e8e8e8;
  font-weight: 500;
  padding: 0 10px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}                  
.content .column {
  padding: 0.5em !important;
  margin:auto;

}  
@media screen and (max-width: 700px) {
  div.three {
      display: none !important;
  }
  .sidebar {
      display: none;
      width: 0;
      height: 300px;
      position: relative;
  }
  div.content {
      padding: 0;
      margin-left: 0;
  }
}             

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
